/*
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3

 * Note that when compiling with coffeescript, the plugin is wrapped in another
 * anonymous function. We do not need to pass in undefined as well, since
 * coffeescript uses (void 0) instead.
 */
/* Includes */
/*
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3

 * Note that when compiling with coffeescript, the plugin is wrapped in another
 * anonymous function. We do not need to pass in undefined as well, since
 * coffeescript uses (void 0) instead.
 */
/* Sizes */
/* colors */
/* General Layout */
.yat-timeline {
  height: 500px;
  width: 100%;
  background: white;
  position: relative; }
  .yat-timeline .yat-viewport, .yat-timeline .yat-navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden; }
  .yat-timeline .yat-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -50px;
    left: 0;
    overflow-x: scroll; }
    .yat-timeline .yat-inner .yat-elements {
      width: 200%;
      margin: 0;
      padding: 0;
      display: block;
      list-style: none;
      float: left;
      position: relative; }
  .yat-timeline .yat-viewport {
    bottom: 150px;
    background: #eeeeee;
    border: 1px solid #cccccc;
    -webkit-overflow-scrolling: touch; }
    .yat-timeline .yat-viewport .yat-elements li {
      width: 300px;
      background: white;
      border: 1px solid #ccc;
      margin: 20px 50px;
      height: 288px;
      overflow: hidden;
      padding: 10px;
      float: left; }
  .yat-timeline .yat-navigation {
    top: auto;
    height: 150px;
    background: #eeeeee;
    border: 1px solid #cccccc; }
    .yat-timeline .yat-navigation .yat-timeline-overview {
      position: absolute;
      left: 0;
      right: 0;
      height: 40px; }
      .yat-timeline .yat-navigation .yat-timeline-overview ol {
        margin: 0;
        padding: 0;
        list-style: none; }
        .yat-timeline .yat-navigation .yat-timeline-overview ol li {
          float: left;
          margin: 0;
          padding: 0; }
          .yat-timeline .yat-navigation .yat-timeline-overview ol li span {
            display: block;
            height: 25px;
            background: #cccccc;
            margin-right: 1px; }
          .yat-timeline .yat-navigation .yat-timeline-overview ol li.last span {
            margin-right: 0; }
      .yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position {
        background: black;
        color: white;
        width: 100px;
        position: absolute;
        top: 0;
        left: 45%; }
    .yat-timeline .yat-navigation .yat-inner {
      top: 25px; }
      .yat-timeline .yat-navigation .yat-inner .yat-elements li {
        float: left;
        margin: 20px;
        display: block; }
        .yat-timeline .yat-navigation .yat-inner .yat-elements li a {
          display: block;
          background: white;
          border: 1px solid #cccccc;
          float: left; }
