/**
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 *
 * This is an example of a custom template.
 * In most usecases you should only need to edit this configuration file.
 */
/**
 * COLORS
 */
/**
 * BASIC LAYOUT SETTINGS
 *
 * Viewport height = height - navigation-height.
 */
/**
 * NAVIGATION SETTINGS
 */
/**
 * TIMELINE OVERVIEW SETTINGS
 */
/**
 * VIEWPORT SETTINGS
 */
/**
 * After settings, we include the main yat sass styles.
 */
/*
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 */
/* General Layout */
/* line 12, ../../src/scss/_yat.scss */
.yat-timeline {
  height: 500px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border: 1px solid white;
  background-color: white;
  margin: 20px 5px;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
  -moz-box-shadow: 0 0 5px 0 #cccccc;
  box-shadow: 0 0 5px 0 #cccccc;
}
/* line 18, ../../src/scss/_yat.scss */
.yat-timeline .yat-fullscreen-start, .yat-timeline .yat-fullscreen-end {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}
/* line 25, ../../src/scss/_yat.scss */
.yat-timeline .yat-timeline-inner1 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* line 38, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-fullscreen-start, .yat-timeline .yat-fullscreen-end {
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  overflow: hidden;
  background: url("../img/fullscreen.png") no-repeat left top;
}
/* line 46, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-fullscreen-end {
  background-position: left bottom;
}
/* line 50, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-fullscreen-start:hover {
  background-position: right top;
}
/* line 54, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-fullscreen-end:hover {
  background-position: right bottom;
}
/* line 58, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-timeline-inner1 {
  -webkit-box-shadow: inset 0px 0px 50px 0px #d9d9d9;
  -moz-box-shadow: inset 0px 0px 50px 0px #d9d9d9;
  box-shadow: inset 0px 0px 50px 0px #d9d9d9;
}
/* line 35, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport, .yat-timeline .yat-navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
/* line 44, ../../src/scss/_yat.scss */
.yat-timeline .yat-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -50px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* line 54, ../../src/scss/_yat.scss */
.yat-timeline .yat-inner .yat-elements {
  width: 200%;
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  float: left;
  position: absolute;
  overflow: visible;
}
/* line 67, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport .yat-inner {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* line 75, ../../src/scss/_yat.scss */
.yat-timeline .yat-navlinks .yat-left, .yat-timeline .yat-navlinks .yat-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  display: block;
  z-index: 50;
}
/* line 84, ../../src/scss/_yat.scss */
.yat-timeline .yat-navlinks .yat-left a, .yat-timeline .yat-navlinks .yat-right a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 89, ../../src/scss/_yat.scss */
.yat-timeline .yat-navlinks .yat-right {
  left: auto;
  right: 0;
}
/* line 258, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-left, .yat-timeline .yat-navlinks .yat-right {
  width: 50px;
  top: 30px;
  bottom: 30px;
  background: url("../img/grad_left.png") repeat-y;
}
/* line 264, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-left a, .yat-timeline .yat-navlinks .yat-right a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../img/arrow_big_left.png") no-repeat left center;
}
/* line 276, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-left {
  left: 20px;
}
/* line 280, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-right {
  right: 20px;
  background: url("../img/grad_right.png") repeat-y;
}
/* line 284, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-right a {
  background-image: url("../img/arrow_big_right.png");
  background-position: center right;
}
/* line 97, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport {
  bottom: 150px;
}
/* line 100, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport .yat-elements {
  top: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 106, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport .yat-elements li {
  height: 258px;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 20em;
  padding: 10px;
  margin: 30px 15px;
  border: 1px solid #cccccc;
  background: white;
  position: relative;
}
/* line 112, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner {
  overflow: hidden;
}
/* line 116, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-readmore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  padding-top: 10px;
  background: white;
  text-align: center;
  display: block;
  cursor: pointer;
}
/* line 173, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.overflow:hover {
  border: 1px solid #666666;
}
/* line 179, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.overflow.important .yat-readmore {
  display: none;
}
/* line 184, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 189, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner .yat-element-inner2 {
  padding-top: 10px;
}
/* line 192, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner .yat-element-inner2 h3 {
  line-height: 120%;
  padding: 1em 0 0.5em 0;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.08em;
}
/* line 200, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner .yat-element-inner2 img {
  height: 130px !important;
}
/* line 206, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-readmore {
  color: #2B3ABC;
  text-decoration: underline;
  height: 25px;
  padding-top: 25px;
  background: url("../img/grad_white.png") repeat-x left top;
}
/* line 213, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-readmore:hover {
  color: #850D19;
}
/* line 218, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li span.arrow {
  position: absolute;
  width: 28px;
  height: 16px;
  background: url("../img/entry_arrow_bottom.png") no-repeat center bottom;
  bottom: -15px;
  left: 50%;
  margin-left: -14px;
}
/* line 228, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.important {
  width: 40em;
  border-color: #666666;
}
/* line 232, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.important .yat-element-inner {
  overflow-y: auto;
}
/* line 236, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.important span.arrow {
  background-image: url("../img/entry_arrow_bottom_important.png");
}
/* line 241, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.open {
  width: 40em;
}
/* line 244, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.open .yat-element-inner {
  overflow-y: auto;
}
/* line 249, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .datetime {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 132, ../../src/scss/_yat.scss */
.yat-timeline .yat-viewport .yat-elements li.open .yat-readmore {
  display: none;
}
/* line 154, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-inner {
  left: 30px;
  right: 30px;
}
/* line 158, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-inner .yat-elements {
  margin-left: 8px;
}
/* line 142, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation {
  top: auto;
  height: 150px;
  overflow: visible;
  z-index: 10;
}
/* line 148, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  height: 40px;
  padding-top: 20px;
  overflow: hidden;
}
/* line 157, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  overflow: none;
}
/* line 166, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 172, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li span {
  display: block;
  height: 60px;
}
/* line 178, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li.last span {
  margin-right: 0;
}
/* line 120, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li span {
  border-bottom: 10px solid #cccccc;
  height: 1.2em;
  display: block;
  margin-right: 1px;
  padding-left: 5px;
  color: #666666;
}
/* line 131, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position {
  background: url("../img/op0.png") repeat-x left top;
}
/* line 135, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position .yat-position-inner {
  height: 25px;
  margin-top: 1.2em;
  text-indent: -9999px;
  overflow: hidden;
  cursor: move;
  background: url("../img/current_position.png") no-repeat center top;
}
/* line 187, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  height: 80px;
}
/* line 200, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position .yat-position-container {
  width: 100%;
  padding-left: 100%;
  position: absolute;
  margin-top: 20px;
}
/* line 206, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position .yat-position-container .yat-position-inner {
  width: 100px;
}
/* line 213, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-inner {
  top: 40px;
}
/* line 216, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-inner .yat-elements li {
  position: absolute;
  display: block;
}
/* line 219, ../../src/scss/_yat.scss */
.yat-timeline .yat-navigation .yat-inner .yat-elements li a {
  display: block;
  /*white-space: nowrap;*/
}
/* line 71, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements {
  height: 100px;
}
/* line 76, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li a {
  background: white;
  border: 1px solid #cccccc;
  padding: 2px 5px;
  display: block;
  float: left;
  text-decoration: none;
  color: #666666;
  width: 16.7em;
  max-height: 3em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 24px;
}
/* line 91, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li a.active, .yat-timeline .yat-navigation .yat-elements li a:hover {
  border-color: #666666;
}
/* line 96, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li.cat-1 a, .yat-timeline .yat-navigation .yat-elements li.cat-Allgemein a {
  background-image: url("../categories/1.png");
}
/* line 97, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li.cat-2 a, .yat-timeline .yat-navigation .yat-elements li.cat-Rechtliches a {
  background-image: url("../categories/2.png");
  background-position: 9px center;
}
/* line 98, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li.cat-3 a, .yat-timeline .yat-navigation .yat-elements li.cat-1 a {
  background-image: url("../categories/3.png");
}
/* line 99, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li.cat-4 a, .yat-timeline .yat-navigation .yat-elements li.cat-Pressetermine a {
  background-image: url("../categories/4.png");
}
/* line 100, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li.cat-5 a, .yat-timeline .yat-navigation .yat-elements li.cat-Publikationen a {
  background-image: url("../categories/5.png");
}
/* line 101, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li.cat-6 a, .yat-timeline .yat-navigation .yat-elements li.cat-Fachinformationen a {
  background-image: url("../categories/6.png");
}
/* line 105, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-inner {
  left: 30px;
  right: 30px;
}

/* fullscreen container */
/* line 232, ../../src/scss/_yat.scss */
.yat-fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 239, ../../src/scss/_yat.scss */
.yat-fullscreen .yat-timeline {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

/* fallbacks for no-css3-browser */
/* line 301, ../../src/scss/layouts/bmg.scss */
html.no-boxshadow .yat-timeline {
  border: 1px solid #cccccc;
}

/* line 307, ../../src/scss/layouts/bmg.scss */
.yat-fullscreen {
  background: url("../img/op40.png") repeat;
}
