/**
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 *
 * This is an example of a custom template.
 * In most usecases you should only need to edit this configuration file.
 */
/**
 * COLORS
 */
/**
 * BASIC LAYOUT SETTINGS
 *
 * Viewport height = height - navigation-height.
 */
/**
 * NAVIGATION SETTINGS
 */
/**
 * TIMELINE OVERVIEW SETTINGS
 */
/**
 * VIEWPORT SETTINGS
 */
/**
 * After settings, we include the main yat sass styles.
 */
/*
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 */
/* General Layout */
/* line 12, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline {
  height: 500px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  border: 1px solid white;
  background-color: white;
  margin: 20px 5px;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
  -moz-box-shadow: 0 0 5px 0 #cccccc;
  box-shadow: 0 0 5px 0 #cccccc;
}
/* line 17, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-timeline-inner1 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* line 38, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-timeline-inner1 {
  -webkit-box-shadow: inset 0px 0px 50px 0px #d9d9d9;
  -moz-box-shadow: inset 0px 0px 50px 0px #d9d9d9;
  box-shadow: inset 0px 0px 50px 0px #d9d9d9;
}
/* line 27, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport, .yat-timeline .yat-navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
/* line 36, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -50px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* line 46, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-inner .yat-elements {
  width: 200%;
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  float: left;
  position: absolute;
  overflow: visible;
}
/* line 59, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport .yat-inner {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* line 67, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navlinks .yat-left, .yat-timeline .yat-navlinks .yat-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  display: block;
  z-index: 50;
}
/* line 76, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navlinks .yat-left a, .yat-timeline .yat-navlinks .yat-right a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 81, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navlinks .yat-right {
  left: auto;
  right: 0;
}
/* line 200, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-left, .yat-timeline .yat-navlinks .yat-right {
  width: 50px;
  top: 30px;
  bottom: 30px;
  background: url("../img/grad_left.png") repeat-y;
}
/* line 206, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-left a, .yat-timeline .yat-navlinks .yat-right a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../img/arrow_big_left.png") no-repeat left center;
}
/* line 218, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-left {
  left: 20px;
}
/* line 222, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-right {
  right: 20px;
  background: url("../img/grad_right.png") repeat-y;
}
/* line 226, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navlinks .yat-right a {
  background-image: url("../img/arrow_big_right.png");
  background-position: center right;
}
/* line 89, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport {
  bottom: 150px;
}
/* line 92, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport .yat-elements {
  top: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 98, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport .yat-elements li {
  height: 258px;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 20em;
  padding: 10px;
  margin: 30px 15px;
  border: 1px solid #cccccc;
  background: white;
  position: relative;
}
/* line 104, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner {
  overflow: hidden;
}
/* line 108, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-readmore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  padding-top: 10px;
  background: white;
  text-align: center;
  display: block;
  cursor: pointer;
}
/* line 138, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 143, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner .yat-element-inner2 {
  padding-top: 10px;
}
/* line 146, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-element-inner .yat-element-inner2 h3 {
  line-height: 120%;
}
/* line 152, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-readmore {
  color: #2B3ABC;
  text-decoration: underline;
  height: 25px;
  padding-top: 25px;
  background: url("../img/grad_white.png") repeat-x left top;
}
/* line 159, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .yat-readmore:hover {
  color: #850D19;
}
/* line 164, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li span.arrow {
  position: absolute;
  width: 28px;
  height: 16px;
  background: url("../img/entry_arrow_bottom.png") no-repeat center bottom;
  bottom: -16px;
  left: 50%;
  margin-left: -14px;
}
/* line 174, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.important {
  width: 40em;
  border-color: #666666;
}
/* line 178, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.important span.arrow {
  background-image: url("../img/entry_arrow_bottom_important.png");
}
/* line 183, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.open {
  width: 40em;
}
/* line 186, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li.open .yat-element-inner {
  overflow-y: auto;
}
/* line 191, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-elements li .datetime {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 124, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-viewport .yat-elements li.open .yat-readmore {
  display: none;
}
/* line 120, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-inner {
  left: 30px;
  right: 30px;
}
/* line 124, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-viewport .yat-inner .yat-elements {
  margin-left: 8px;
}
/* line 134, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation {
  top: auto;
  height: 150px;
  overflow: visible;
  z-index: 10;
}
/* line 140, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  height: 40px;
  padding-top: 20px;
  overflow: hidden;
}
/* line 149, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  overflow: none;
}
/* line 158, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 164, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li span {
  display: block;
  height: 60px;
}
/* line 170, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li.last span {
  margin-right: 0;
}
/* line 86, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-timeline-overview ol li span {
  border-bottom: 10px solid #cccccc;
  height: 1.2em;
  display: block;
  margin-right: 1px;
  padding-left: 5px;
  color: #666666;
}
/* line 97, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position {
  background: url("../img/op0.png") repeat-x left top;
}
/* line 101, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position .yat-position-inner {
  height: 25px;
  margin-top: 1.2em;
  text-indent: -9999px;
  overflow: hidden;
  cursor: move;
  background: url("../img/current_position.png") no-repeat center top;
}
/* line 179, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  height: 80px;
}
/* line 192, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position .yat-position-container {
  width: 100%;
  padding-left: 100%;
  position: absolute;
  margin-top: 20px;
}
/* line 198, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-timeline-overview .yat-current-position .yat-position-container .yat-position-inner {
  width: 100px;
}
/* line 205, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-inner {
  top: 40px;
}
/* line 208, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-inner .yat-elements li {
  position: absolute;
  display: block;
}
/* line 211, /Users/franzwilding/Sites/yat.js/src/scss/layouts/../_yat.scss */
.yat-timeline .yat-navigation .yat-inner .yat-elements li a {
  display: block;
  white-space: nowrap;
}
/* line 54, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li a {
  background: white;
  border: 1px solid #cccccc;
  padding: 2px 5px;
  display: block;
  float: left;
  text-decoration: none;
  color: #666666;
  max-width: 250px;
}
/* line 64, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-elements li a.active, .yat-timeline .yat-navigation .yat-elements li a:hover {
  border-color: #666666;
}
/* line 71, ../../src/scss/layouts/bmg.scss */
.yat-timeline .yat-navigation .yat-inner {
  left: 30px;
  right: 30px;
}

/* fallbacks for no-css3-browser */
/* line 243, ../../src/scss/layouts/bmg.scss */
html.no-boxshadow .yat-timeline {
  border: 1px solid #cccccc;
}
