/**
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 *
 * This is an example of a custom template.
 * In most usecases you should only need to edit this configuration file.
 */

@import 'compass/css3';

/**
 * COLORS
 */
$white: white;
$blue: blue;

$grey1: #ccc;
$grey2: #666;
$grey3: #aaa;

/**
 * BASIC LAYOUT SETTINGS
 *
 * Viewport height = height - navigation-height.
 */
$height: 500px;

@mixin basic-styles() {
  border: 1px solid $white;
  background-color: $white;
  margin: 20px 5px;
  @include box-shadow(0 0 5px 0 $grey1);

  &.loading {
    background: url("../img/loading.gif") no-repeat center center;

    div, a, ol, ul {
      opacity: 0;
    }
  }

  .yat-fullscreen-start, .yat-fullscreen-end {
    width: 20px;
    height: 20px;
    text-indent: -99999px;
    overflow: hidden;
    background: url("../img/fullscreen.png") no-repeat left top;
  }

  .yat-fullscreen-end {
    background-position: left bottom;
  }

  .yat-fullscreen-start:hover {
    background-position: right top;
  }

  .yat-fullscreen-end:hover {
    background-position: right bottom;
  }

  .yat-timeline-inner1 {
    @include box-shadow(inset 0px 0px 50px 0px lighten($grey1, 5%));
  }
}




/**
 * NAVIGATION SETTINGS
 */
$navigation-height: 150px;
@mixin navigation-styles() {
  .yat-elements {

    height: $navigation-height - 50;

    li {
      a {
        background: $white;
        border: 1px solid $grey1;
        padding: 2px 5px;
        display: block;
        float: left;
        text-decoration: none;
        color: $grey2;
        width: 16.7em;
        max-height: 3em;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 3px 3px;
        padding-left: 24px;

        &.active, &:hover {
          border-color: $grey2;
        }
      }

      &.cat-rechtliches a, &.cat-1 a { background-image: url("../categories/rechtliches.png"); }
      &.cat-analyse a, &.cat-2 a { background-image: url("../categories/analyse.png"); }
      &.cat-ernaehrung a, &.cat-3 a { background-image: url("../categories/ernaehrung.png"); }
      &.cat-film a, &.cat-4 a { background-image: url("../categories/film.png"); }
      &.cat-gesundheitssystem a, &.cat-5 a { background-image: url("../categories/gesundheitssystem.png"); }
      &.cat-kriesenmanagement a, &.cat-6 a { background-image: url("../categories/kriesenmanagement.png"); }
      &.cat-statistik a, &.cat-7 a { background-image: url("../categories/statistik.png"); }
      &.cat-publikationen a, &.cat-8 a { background-image: url("../categories/publikationen.png"); }
      &.cat-service a, &.cat-9 a { background-image: url("../categories/service.png"); }
      &.cat-presse a, &.cat-10 a { background-image: url("../categories/presse.png"); }
      &.cat-tiere a, &.cat-11 a { background-image: url("../categories/tiere.png"); }
      &.cat-vermischtes a, &.cat-12 a { background-image: url("../categories/vermischtes.png"); }
      &.cat-vorsorge a, &.cat-13 a { background-image: url("../categories/vorsorge.png"); }
      &.cat-vernetzung a, &.cat-14 a { background-image: url("../categories/vernetzung.png"); }
    }
  }

  .yat-inner {
    left: 30px;
    right: 30px;
  }
}

.yat-timeline {
  .yat-navigation {
    background: url("../img/navigation_bg.png") repeat-x center bottom;

    .yat-navlinks {
      .yat-left, .yat-right {
        top: 40px;
        bottom: 20px;
        background-image: url("../img/grad_left_dark.png");
      }

      .yat-right {
        background-image: url("../img/grad_right_dark.png");
      }
    }
  }
}

/**
 * TIMELINE OVERVIEW SETTINGS
 */
$timeline-overview-height: 60px;

@mixin timeline-overview-styles() {
  ol {
    li {
      span {
        border-bottom: 10px solid $grey1;
        height: 1.2em;
        display: block;
        margin-right: 1px;
        padding-left: 5px;
        color: $grey2;
      }
    }
  }

  .yat-current-position {

    background: url("../img/op0.png") repeat-x left top;

    .yat-position-inner {
      height: 25px;
      margin-top: 1.2em;
      text-indent: -9999px;
      overflow: hidden;
      cursor: col-resize;
      background: url("../img/current_position.png") no-repeat center top;
    }
  }
}


/**
 * VIEWPORT SETTINGS
 */

$viewport-element-outer-height: 82px;

@mixin viewport-styles() {
  .yat-inner {
    left: 30px;
    right: 30px;

    .yat-elements {
      margin-left: 8px;
    }
  }
}

@mixin viewport-element-styles() {
  width: 20em;
  padding: 10px;
  margin: 30px 15px;
  border: 1px solid $grey1;
  background: $white;
  position: relative;

  &.overflow {
    &:hover {
      border: 1px solid $grey2;
    }
  }

  .yat-element-inner {
    height: 100%;
    width: 100%;
    position: relative;

    .yat-element-inner2 {
      padding-top: 10px;

      h3 {
        line-height: 120%;
        padding: 1em 0 0.5em 0;
        margin-bottom: 0.35em;
        font-weight: normal;
        font-size: 1.08em;
      }

      .timeline_image {
        height: 120px;
      }

      .timeline_video,
      .timeline_image,
      .image-size-1,
      .image-size-2,
      .image-size-3 {
        float:left;
        margin-right: 10px;
        width: 100%;
        line-height: 1px;
        text-align: center;
        background: $grey1;

        img {
          height: 120px;
          width: auto;
        }
      }
    }
  }

  .yat-readmore {
    color: #2B3ABC;
    text-decoration: underline;
    height: 25px;
    padding-top: 7px;
    background: $white;

    &:hover {
      color: #850D19;
    }
  }

  a.close {
    width: 16px;
    height: 16px;
    background: url("../img/close.png") no-repeat center top;
    position: absolute;
    left: 10px;
    top: 8px;
    text-indent: -9999px;
    overflow: hidden;
    display: none;

    &:hover {
      background-position: left -16px;
    }
  }

  span.arrow {
    position: absolute;
    width: 28px;
    height: 16px;
    background: url("../img/entry_arrow_bottom.png") no-repeat center bottom;
    bottom: -15px;
    left: 50%;
    margin-left: -14px;
  }

  &.important {
    width: 40em;
    border-color: $grey3;
    background: #eee;

    span.arrow {
      background-image: url("../img/entry_arrow_bottom_important.png");
    }

    .yat-readmore {
      background: #eee;
    }

    .yat-element-inner .yat-element-inner2 {
      .timeline_video,
      .timeline_image,
      .image-size-1,
      .image-size-2,
      .image-size-3 {
        width: auto;
      }

      .timeline_video {
        iframe {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }

  &.open {
    width: 40em;

    .yat-element-inner .yat-element-inner2 {
      .timeline_video,
      .timeline_image,
      .image-size-1,
      .image-size-2,
      .image-size-3 {
        width: auto;
      }
    }

    .yat-element-inner {
      overflow-y: auto;
    }

    .close {
      display: block;
    }
  }

  .datetime {
    position: absolute;
    right: 0;
    top: 0;

    strong {
      font-weight: normal;
    }
  }
}

@mixin navlinks-styles() {

  .yat-left, .yat-right {
    width: 50px;
    top: 30px;
    bottom: 30px;
    background: url("../img/grad_left.png") repeat-y;

    a {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-indent: -9999px;
      overflow: hidden;
      background: url("../img/arrow_big_left.png") no-repeat left center;
    }
  }

  .yat-left {
    left: 25px;
  }

  .yat-right {
    right: 25px;
    background: url("../img/grad_right.png") repeat-y;

    a {
      background-image: url("../img/arrow_big_right.png");
      background-position: center right;
    }
  }
}

/**
 * After settings, we include the main yat sass styles.
 */
@import "../yat";


/* fallbacks for no-css3-browser */

html.no-boxshadow {

  .yat-timeline {
    border: 1px solid $grey1;
  }

}

.yat-fullscreen {
  background: url("../img/op40.png") repeat;
}





