/**
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 *
 * This is an example of a custom template.
 * In most usecases you should only need to edit this configuration file.
 */

@import 'compass/css3';

/**
 * COLORS
 */
$white: white;
$blue: blue;

$grey1: #ccc;
$grey2: #666;

/**
 * BASIC LAYOUT SETTINGS
 *
 * Viewport height = height - navigation-height.
 */
$height: 500px;

@mixin basic-styles() {
  border: 1px solid $white;
  background-color: $white;
  margin: 20px 5px;
  @include box-shadow(0 0 5px 0 $grey1);

  .yat-timeline-inner1 {
    @include box-shadow(inset 0px 0px 50px 0px lighten($grey1, 5%));
  }
}




/**
 * NAVIGATION SETTINGS
 */
$navigation-height: 150px;
@mixin navigation-styles() {
  .yat-elements {
    li {
      a {
        background: $white;
        border: 1px solid $grey1;
        padding: 2px 5px;
        display: block;
        float: left;
        text-decoration: none;
        color: $grey2;
        margin: 20px;
        max-width: 250px;

        &.active {
          border-color: $grey2;
        }
      }
    }
  }

  .yat-inner {
    left: 30px;
    right: 30px;
  }
}


/**
 * TIMELINE OVERVIEW SETTINGS
 */
$timeline-overview-height: 60px;

@mixin timeline-overview-styles() {
  ol {
    li {
      span {
        border-bottom: 10px solid $grey1;
        height: 15px;
        display: block;
        margin-right: 1px;
        padding-left: 5px;
        color: $grey2;
      }
    }
  }

  .yat-current-position {

    background: url("../img/op0.png") repeat-x left top;

    .yat-position-inner {
      height: 10px;
      border-top: 10px solid $grey2;
      margin-top: 15px;
      text-indent: -9999px;
      overflow: hidden;
      cursor: move;
      background: url("../img/arrow_bottom.png") no-repeat center top;
    }
  }
}


/**
 * VIEWPORT SETTINGS
 */

$viewport-element-outer-height: 82px;

@mixin viewport-styles() {
  .yat-inner {
    left: 30px;
    right: 30px;

    .yat-elements {
      margin-left: 8px;
    }
  }
}

@mixin viewport-element-styles() {
  width: 20em;
  padding: 10px;
  margin: 30px 15px;
  border: 1px solid $grey1;
  background: $white;
  position: relative;

  .yat-element-inner {
    height: 100%;
    width: 100%;
    position: relative;
  }

  span.arrow {
    position: absolute;
    width: 28px;
    height: 16px;
    background: url("../img/entry_arrow_bottom.png") no-repeat center bottom;
    bottom: -16px;
    left: 50%;
    margin-left: -14px;
  }

  &.important {
    width: 40em;
    border-color: $grey2;

    span.arrow {
      background-image: url("../img/entry_arrow_bottom_important.png");
    }
  }

  &.open {
    width: 40em;

    .yat-element-inner {
      overflow-y: auto;
    }
  }

  .datetime {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin navlinks-styles() {

  .yat-left, .yat-right {
    width: 50px;
    top: 30px;
    bottom: 30px;
    background: url("../img/grad_left.png") repeat-y;

    a {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-indent: -9999px;
      overflow: hidden;
      background: url("../img/arrow_big_left.png") no-repeat left center;
    }
  }

  .yat-left {
    left: 20px;
  }

  .yat-right {
    right: 20px;
    background: url("../img/grad_right.png") repeat-y;

    a {
      background-image: url("../img/arrow_big_right.png");
      background-position: center right;
    }
  }
}

/**
 * After settings, we include the main yat sass styles.
 */
@import "../yat";


/* fallbacks for no-css3-browser */

html.no-boxshadow {

  .yat-timeline {
    border: 1px solid $grey1;
  }

}








