/*
 * yat.js
 *
 * Easy jQuery Timeline-Tool.
 *
 * Source: https://github.com/2robots/yat.js
 * Authors: Benjamin Freundorfer, Franz Wilding
 * Licence: GPL v3
 */

 /* General Layout */
.yat-timeline {
  height: $height;
  position: relative;
  -webkit-overflow-scrolling: touch;

  .yat-timeline-inner1 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  @include basic-styles();

  .yat-viewport, .yat-navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
  }

  .yat-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -50px;
    left: 0;
    overflow-x: scroll;

    .yat-elements {
      width: 200%;
      margin: 0;
      padding: 0;
      display: block;
      list-style: none;
      float: left;
      position: absolute;
      overflow: visible;
    }
  }

  .yat-viewport {
    .yat-inner {
      overflow: hidden;
      overflow-x: scroll;
    }
  }

  .yat-navlinks {
    .yat-left, .yat-right {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      display: block;
      z-index: 50;

      a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    .yat-right {
      left: auto;
      right: 0;
    }

    @include navlinks-styles();
  }

  .yat-viewport {
    bottom: $navigation-height;

    .yat-elements {

      top: 0;
      bottom: 60px;

      li {
        height: $height - $navigation-height - $viewport-element-outer-height - 10px;
        float: left;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        .yat-element-inner {
          overflow: hidden;
        }

        @include viewport-element-styles();
      }
    }

    @include viewport-styles();
  }

  .yat-navigation {
    top: auto;
    height: $navigation-height;
    overflow: visible;
    z-index: 10;

    .yat-timeline-overview {
      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      height: $timeline-overview-height - 20px;
      padding-top: 20px;
      overflow: hidden;

      ol {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          float: left;
          margin: 0;
          padding: 0;

          span {
            display: block;
            height: $timeline-overview-height;
          }

          &.last {
            span {
              margin-right: 0;
            }
          }
        }
      }

      @include timeline-overview-styles();

      .yat-current-position {

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        overflow-x: auto;
        height: $timeline-overview-height + 20px;

        .yat-position-container {
          width: 100%;
          padding-left: 100%;
          position: absolute;
          margin-top: 20px;

          .yat-position-inner {
            width: 100px;
          }
        }
      }
    }

    .yat-inner {
      top: $timeline-overview-height - 20px;
      .yat-elements {
        li {
          position: absolute;
          display: block;
          a {
            display: block;
            white-space: nowrap;
          }
        }
      }
    }

    @include navigation-styles();
  }
}